<h1>Blog</h1>
<ul>
  {{#each model as |item|}}
    <li>
      <h2 data-hero-id="{{item.id}}">{{item.title}}</h2>
      {{link-to "Deferred" "deferred" item}}
      {{link-to "Normal" "normal" item}}
    </li>
  {{/each}}
</ul>
